<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston Celtics - Team Info</title>
    <link rel="stylesheet" href="/style2.css">
</head>

<body>

    <div class="container">
        <h1>
            <%= name%>
        </h1>
        <p><strong>City:</strong>
            <%= city%>
        </p>
        <p><strong>State:</strong>
            <%= state %>
        </p>
        <p><strong>Arena:</strong>
            <%= arena %>
        </p>
        <p><strong>Championships:</strong>
            <%= championships%>
        </p>
        <a href="/index.html">Back to Home</a>

        
        
    </div>
</body>

</html>